.about-page {
    &__play-video {
        position: absolute;
        top: -16px;
        left: -16px;
    }
    &__block {
        padding: 237px 0 192px;
        margin-top: -60px;
        background: url(../img/about-page-block__bg.png) center center /cover no-repeat;
    }
    &__block_little {
        margin-top: 120px;
        padding: 100px 0;
        background: url(../img/about-page__block_little.png) center center /cover no-repeat;
    }
    &__blog {
        margin-top: 100px;
    }
    &__subscribe {
        margin-top: 180px;
    }
}