.accordion {
    display: grid;
    grid-template-rows: minmax(30px, auto);
    grid-auto-rows: minmax(30px, auto);
    row-gap: 24px;
    &__item {
        position: relative;
        &:before {
            content: '';
            position: absolute;
            top: 5px;
            left: 0;
            display: block;
            width: 20px;
            height: 20px;
            background: url(../icons/plus.svg);
            cursor: pointer;
        }
        &_active {
            display: grid;
            grid-template-rows: repeat(2, minmax(30px, auto));
            row-gap: 16px;
            &:before {
                background: url(../icons/minus.svg);
            }
            .accordion__text {
                display: block;
            }
        }
    }
    &__title {
        text-align: start;
        font-weight: 700;
        font-size: 20px;
        line-height: 150%;
        color: #1E212C;
        padding-left: 40px;
    }
    &__number {
        font-weight: 400;
        color: $red-color;
        margin-right: 8px;
    }
    &__text {
        line-height: 160%;
        color: #424551;
        display: none;
        padding-left: 40px;
    }
}