.blog {
    &__toolbar {
        margin-top: 60px;
        display: flex;
        @media (max-width: 1260px) {
            align-items: center;
        }
        @media (max-width: 992px) {
            flex-wrap: wrap;
            justify-content: space-between;
            margin-top: 20px;
            gap: 20px;
        }
    }
    &__tabs {
        flex-grow: 1;
        margin-right: 40px;
        display: flex;
        @media (max-width: 1260px) {
            margin-right: 0;
        }
        @media (max-width: 425px) {
            justify-content: space-between;
        }
    }
    &__tab {
        padding: 10px 20px;
        margin-right: 12px;
        display: flex;
        align-items: center;
        font-weight: 700;
        line-height: 160%;
        color: #9A9CA5;
        border: 1px solid  rgba(#fff, 0);
        @media (max-width: 1260px) {
            margin-right: 0;
        }
        @media (max-width: 576px) {
            padding: 10px 16px;
        }
        @media (max-width: 425px) {
            padding: 5px 10px;
            font-size: 13px;
        }
        &:last-child {
            margin-right: 0;
        }
        &_active {
            border: 1px solid $red-color;
            border-radius: 4px;
            color: $red-color;
            @include fade;
            svg path {
                fill: $red-color;
            }
        }
    }
    &__tab-type {
        margin-left: 8px;
        @media (max-width: 425px) {
            margin-left: 0;
        }
    }
    &__category {
        margin-right: 40px;
        @media (max-width: 992px) {
            margin-right: 0;
        }
        @media (max-width: 576px) {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
        }
    }
    &__label {
        font-weight: 700;
        line-height: 160%;
        color: #424551;
        margin-right: 8px;
        @media (max-width: 425px) {
            font-size: 14px;
        }
    }
    &__select {
        width: 160px;
        height: 44px;
        border: 1px solid #D7DADD;
        border-radius: 4px;
        font-weight: 400;
        font-size: 14px;
        line-height: 150%;
        color: #424551;
        padding: 10px 13px 12px;
    }
    &__search {
        width: 285px;
        @media (max-width: 1260px) {
            width: 200px;
        }
        @media (max-width: 992px) {
            width: 50%;
        }
        @media (max-width: 768px) {
            width: 46%;
        }
        @media (max-width: 576px) {
            width: 100%;
        }
    }
    &__list {
        margin-top: 60px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 507px;
        grid-auto-rows: 507px;
        gap: 60px 30px;
        @media (max-width: 1260px) {
            gap: 30px 15px;
        }
        @media (max-width: 992px) {
            grid-template-columns: repeat(2, 1fr);
            gap: 30px;
        }
        @media (max-width: 768px) {
            gap: 30px 15px;
            grid-template-rows: auto;
            grid-auto-rows: auto;
        }
        @media (max-width: 576px) {
            grid-template-columns: 1fr;
        } 
    }
    &__pagination {
        margin-top: 80px;
        @media (max-width: 768px) {
            margin-top: 40px;
        }
    }

}