.carousel-team {
    &__list {
        margin-top: 60px;
        display: grid;
        grid-template-columns: repeat(4, 285px);
        grid-template-rows: minmax(416px, auto);
        column-gap: 30px;
        grid-auto-flow: column;
    }
}