.carousel {
    &__controls {
        width: 96px;
        height: 48px;
        display: flex;
    }
    &__prev-btn,
    &__next-btn {
        width: 48px;
        height: 48px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 100%;
        transition: all .3s;
        &:hover {
            background-color: $red-color;
            svg path {
                fill: #fff;
            }
        }

    }
}