.caurousel-courses {
    &__list {
        margin-top: 60px;
        display: grid;
        grid-template-columns: repeat(2, 600px);
        column-gap: 30px;
    }
    &__view-all {
        margin-top: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__more {
        margin-right: 40px;
        font-weight: 700;
        font-size: 28px;
        line-height: 150%;
        color: #1E212C;
    }
}