.events {
    &__toolbar {
        margin-top: 60px;
        height: 44px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__toolbar-label {
        font-weight: 700;
        line-height: 160%;
        color: #424551;
        margin-right: 12px;
    }
    &__select-category,
    &__select-sort,
    &__input-number {
        height: 100%;
        font-size: 14px;
        line-height: 150%;
        color: #424551;
        padding: 11px 16px 12px;
        background: #FFFFFF;
        border: 1px solid #D7DADD;
        border-radius: 4px;
    }
    &__select-category,
    &__select-sort {
        width: 160px;
    }
    &__input-number {
        width: 72px;
        margin-right: 12px;
    }
    &__toolbar-text {
        font-size: 14px;
        line-height: 150%;
        color: #787A80;
    }
    &__search-form {
        width: 282px;
    }
    &__toolbar-icons {
        width: 52px;
        display: flex;
        justify-content: space-between;
    }
    &__toolbar-list,
    &__toolbar-grid {
        &_active {
            path {
                fill: $red-color;
            }
        }
    }
    &__list {
        margin-top: 60px;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: minmax(126px, auto);
        grid-auto-rows: minmax(126px, auto);
        row-gap: 21px;
        @media (max-width: 1260px) {
            grid-template-rows: minmax(95px, auto);
            grid-auto-rows: minmax(95px, auto);
        }
        @media (max-width: 768px) {
            row-gap: 10px;
        }
        &_grid {
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: minmax(323px, auto);
            grid-auto-rows: minmax(323px, auto);
            gap: 30px;
        }
    } 
    &__link {
        margin-top: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        @media (max-width: 768px) {
            margin-top: 30px;
        }
    }
    &__question {
        margin-right: 40px;
        font-weight: 700;
        font-size: 28px;
        line-height: 150%;
        color: #1E212C;
        @media (max-width: 576px) {
            margin-right: 15px;
            font-size: 17px;
        }
    }
    &__pagination {
        margin-top: 60px;
    }
}
