.events-page {
    &__events {
        margin-top: 80px;
        background: url(../img/events-page-events__bg.png) top center / contain no-repeat;
    }
    &__subscribe {
        margin-top: 180px;
    } 
}