.heading {
    position: relative;
    &__item-absolute {
        position: absolute;
        right: 0;
        bottom: 0;
    }
    &__controls {
        position: absolute;
        right: -12px;
        bottom: -12px;
    }
}