.heading {
    position: relative;
    &__item-absolute {
        position: absolute;
        right: 0;
        bottom: 0;
        @media (max-width: 576px) {
            bottom: -50px;
        }
    }
    &__controls {
        position: absolute;
        right: -12px;
        bottom: -12px;
        @media (max-width: 576px) {
            right: 0;
            bottom: -50px;
        }
    }
}