.main-page-header {
    background: url('../img/main-page-header__bg.png') center center / cover no-repeat;
    padding-bottom: 80px;
    &__content {
        margin-top: 128px;
        display: grid;
        grid-template-columns: 496px 602px;
        column-gap: 132px;
    }
    &__title {
        margin-top: 24px;
        font-weight: 900;
        font-size: 64px;
        line-height: 130%;
        color: #1E212C;
    }
    &__btns {
        margin-top: 60px;
        width: 372px;
        display: flex;
        justify-content: space-between;
    }
    &__img {
        position: relative;
    }
    &__illustration {
        position: absolute;
        top: 0;
        left: 49px;
        width: 602px;
        height: 551px;
        @include img_cover;
    }
    &__statistics {
        margin-top: 257px;
        height: 60px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__statistics-item {
        display: flex;
        align-items: center;
    }
    &__statistics-ellipse {
        width: 8px;
        height: 8px;
        background: $red-color;
        border-radius: 100%;
    }
    &__statistics-count {
        margin-right: 12px;
        font-weight: 900;
        font-size: 46px;
    }
}