.main-page {
    &__subscribe {
        margin-top: 180px;
        @media (max-width: 768px) {
            margin-top: 100px;
        }
    }
    &__events,
    &__blog,
    &__certificate {
        margin-top: 120px;
        @media (max-width: 768px) {
            margin-top: 100px;
        }
    }
    &__events {
        padding: 80px 0;
        background: url('../img/main-events__bg.png') center center / cover no-repeat;
        @media (max-width: 768px) {
            padding: 50px 0;
        }
    }
    &__sliders-block {
        padding: 164px 0 100px;
        background: url(../img/main-page-carousel-block__bg.png) center center / cover no-repeat;
        @media (max-width: 768px) {
            padding: 100px 0;
        }
    }
    &__slider {
        margin-bottom: 180px;
        @media (max-width: 768px) {
            margin-bottom: 100px;
        }
    }
    &__play-video {
        margin: 12px 0 0 -16px;
        @media (max-width: 1550px) {
            margin: 0;
            margin-left: -16px;
        }
    }
}