.main-page-about {
    margin-top: 180px;
    background: url('../img/main-about__bg.png') bottom center / contain no-repeat;
    &__container {
        display: grid;
        grid-template-columns: 705px 390px;
        grid-template-rows: minmax(560px, auto);
        justify-content: space-between;
    }
    &__wrapper-img {
        width: 100%;
        height: 560px;
    }
    &__img {
        @include img_cover;
    }
    &__bulleted-list {
        margin-top: 42px;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: minmax(26px, auto);
        grid-auto-rows: minmax(26px, auto);
        row-gap: 12px;
    }
    &__btn {
        margin-top: 52px;
    }
}