.main-carousel-block {
    padding: 166px 0 100px;
    background: url(../img/main-carousel-block__bg.jpg) center center / cover no-repeat;
    &__carousel-reviews {
        margin-top: 180px;
    }
}