.main-page-about {
    margin-top: 180px;
    background: url('../img/main-about__bg.png') bottom center / contain no-repeat;
    &__container {
        display: grid;
        grid-template-columns: 705px 390px;
        grid-template-rows: minmax(560px, auto);
        column-gap: 135px;
    }
    &__img {
        width: 705px;
        height: 560px;
        @include img_cover;
    }
    &__title {
        margin-top: 8px;
    }
    &__bulleted-list {
        margin-top: 40px;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: minmax(26px, auto);
        grid-auto-rows: minmax(26px, auto);
        row-gap: 12px;
    }
    &__btn {
        margin-top: 48px;
    }
}