.overlay {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(#1E212C, 0.75);
}
.modal {
    width: 486px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #FFFFFF;
    border: 1px solid #E5E8ED;
    box-shadow: 0px 60px 80px -20px rgba(30, 33, 44, 0.16), 0px 26px 24px -10px rgba(30, 33, 44, 0.1), 0px 12px 10px -6px rgba(30, 33, 44, 0.08), 0px 4px 4px -4px rgba(30, 33, 44, 0.05);
    border-radius: 4px;
    padding: 48px 0 48px;
    &__close {
        position: absolute;
        top: 25px;
        right: 25px
    }
    &__title {
        font-weight: 700;
        font-size: 28px;
        line-height: 150%;
        text-align: center;
        color: #1E212C;
    }
    &__text {
        margin-top: 24px;
        padding: 0 48px;
        font-size: 14px;
        line-height: 150%;
        text-align: center;
        color: #787A80;
    }
    &__form {
        margin-top: 19px;
        padding: 0 48px 29px;
        border-bottom: 1px solid #E5E8ED;
    }
    &__form-item {
        position: relative;
        display: block;
        margin-top: 20px;
        &:first-child {
            margin-top: 0;
        }
    }
    &__label {
        font-size: 14px;
        line-height: 150%;
        color: #424551;
    }
    &__input {
        display: block;
        width: 100%;
        @include input-base;
        height: 44px;
        margin-top: 8px;
        font-size: 14px;
        line-height: 150%;
        padding: 11px 40px 12px 16px;
    }
    &__eye {
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        bottom: 7px;
        right: 7px;
        cursor: pointer;
        background: url(../icons/eye.svg) center center no-repeat;
        &:after {
            content: '';
            position: absolute;
            top:14px;
            right: 3px;
            width: 24px;
            height: 2px;
            background-color: #424551;
            transform: rotate(45deg);
            transition: all .3s;
            opacity: 1;
        }
        &_active {
            &:after {
                opacity: 0;
            }
        } 
    }
    &__row {
        display: flex;
        justify-content: space-between;
    }
    &__remind-pass {
        color: $red-color;
        font-size: 14px;
        line-height: 150%;
    }
    &__btn {
        width: 100%;
        margin-top: 24px;
    }
    &__question {
        margin-top: 24px;
        font-size: 14px;
        line-height: 150%;
        color: #424551;
    }
    &__link {
        color: $red-color;
    }
    &__icons {
        margin-top: 16px;
        height: 20px;
        display: flex;
        justify-content: center;
    }
    &__icon {
        margin-right: 12px;
        &:last-child {
            margin-right: 0;
        }
        &:hover {
            svg path {
                fill: $red-color;
                transition: all .3s;
            }
        }
    }

}