.play-video {
    display: block;
    position: relative;
    width: 84px;
    height: 84px;
    border-radius: 100%;
    padding: 16px;
    transition: all .3s;
    &:after {
        content: 'Play showreel';
        width: 88px;
        display: block;
        position: absolute;
        top: 35px;
        right: -88px;
        color: #1E212C;
        font-weight: 700;
        font-size: 14px;
    }
    &:hover {
        background-color: #FEC9C1;
    }
}