.play-video {
    display: inline-flex;
    align-items: center;
    &__btn {
        width: 84px;
        height: 84px;
        border-radius: 100%;
        padding: 16px;
        transition: all .3s;
    }
    &__label {
        font-weight: 700;
        font-size: 14px;
        line-height: 150%;
        color: #1E212C;
    }
    &:hover .play-video__btn{
        background-color: #FEC9C1;
    }
}