.post {
    margin-top: 80px;
    &__container {
        display: grid;
        grid-template-columns: 810px 342px;
        justify-content: space-between;
        @media (max-width: 1260px) {
            grid-template-columns: 610px 300px;
        }
        @media (max-width: 992px) {
            grid-template-columns: 450px 250px;
        }
        @media (max-width: 768px) {
            grid-template-columns: 1fr;
            gap: 50px;
        }
    }
    &__meta {
        display: flex;
    }
    &__type {
        position: relative;
        padding-left: 24px;
        @include main-text;
        margin-right: 24px;
        @media (max-width: 425px) {
            padding-left: 15px;
            margin-right: 15px;
        }
        &:before {
            content: '';
            position: absolute;
            top: 5px;
            left: 0;
            display: block;
            height: 16px;
            width: 16px;
            background: url(../../icons/blog/files.svg) center center / cover no-repeat;
            @media (max-width: 992px) {
                top: 3px;
            }
            @media (max-width: 425px) {
                height: 12px;
                width: 12px;
            }
        }
        &::after {
            content: '';
            position: absolute;
            right: -14px;
            top: 5px;
            width: 1px;
            height: 16px;
            background-color: #787A80;
            @media (max-width: 992px) {
                top: 3px;
            }
            @media (max-width: 425px) {
                height: 12px;
                right: -7px;
            }
        }
    }
    &__catagory {
        font-weight: 700;
        line-height: 160%;
        color: $red-color; 
        @media (max-width: 992px) {
            font-size: 14px;
        }
        @media (max-width: 425px) {
            font-size: 12px;
        }
    }
    &__title {
        margin: 12px 0 26px;
        @media (max-width: 992px) {
            margin: 10px 0;
        }
    }
    &__row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        @media (max-width: 425px) {
            gap: 15px;
        }
        &_mt60 {
            margin-top: 60px;
            @media (max-width: 992px) {
                margin-top: 30px;
                align-items: flex-start;
            }
        }
    }
    &__date,
    &__time {
        position: relative;
        line-height: 160%;
        color: #787A80;
        padding-left: 24px;
        @media (max-width: 992px) {
            font-size: 14px;
            line-height: 140%;
            padding-left: 20px;
        }
        &:before {
            content: '';
            position: absolute;
            top: 5px;
            left: 0;
            display: block;
            width: 16px;
            height: 16px;
            @media (max-width: 992px) {
                width: 14px;
                height: 14px;
                top: 2px;
            }
        }
    }
    &__date {
        margin-right: 24px;
        &:before {
            background: url(../icons/blog/calendar.svg) center center / cover no-repeat;
        }
    }
    &__time:before {
        background: url(../icons/blog/clock.svg) center center / cover no-repeat;
    }
    &__share {
        display: flex;
        align-items: center;
    }
    &__share-title {
        font-weight: 700;
        font-size: 16px;
        line-height: 160%;
        color: #1E212C;
        margin-right: 12px;
        @media (max-width: 992px) {
            font-size: 14px;
        }
    }
    &__social {
        display: flex;
        gap: 12px;
        @media (max-width: 992px) {
            gap: 10px;
        }
    }
    &__icon:hover svg path {
        fill: $red-color;
        transition: all .3s;
    }
    &__wrapper-img {
        margin-top: 40px;
        width: 100%;
        height: 360px;
        @media (max-width: 1260px) {
            height: 260px;
        }
        @media (max-width: 992px) {
            margin-top: 20px;
            height: 190px;
        }
        @media (max-width: 768px) {
            height: 230px;
        }
        @media (max-width: 576px) {
            height: 190px;
        }
        @media (max-width: 425px) {
            height: 160px;
        }
    }
    &__img {
        @include img_cover;
        border-radius: 4px;
    }
    &__descr {
        margin-top: 60px;
        font-weight: 700;
        font-size: 20px;
        line-height: 150%;
        color: #1E212C;
        @media (max-width: 992px) {
            margin-top: 30px;
            font-size: 17px;
            line-height: 130%;
        }
        @media (max-width: 425px) {
            font-size: 15px;
        }
    }
    &__text {
        margin-top: 24px;
        @include main-text;
        @media (max-width: 992px) {
            margin-top: 12px;
        }
    }
    &__quotation {
        position: relative;
        margin: 53px 0 48px;
        font-weight: 700;
        font-size: 20px;
        line-height: 150%;
        color: #1E212C;
        padding-left: 58px;
        @media (max-width: 992px) {
            margin: 30px 0;
            font-size: 17px;
            line-height: 130%;
            padding-left: 40px;
        }
        @media (max-width: 425px) {
            font-size: 15px;
            margin: 20px 0;
            padding-left: 30px;
        }
        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            display: block;
            width: 28px;
            height: 20px;
            background: url(../icons/braces.svg) center center / cover no-repeat;
            @media (max-width: 425px) {
                width: 18px;
                height: 12px;
            }
        }
    }
    &__list {
        margin-top: 24px;
        display: grid;
        grid-template-rows: minmax(26px, auto);
        grid-auto-rows: minmax(26px, auto);
        row-gap: 4px;
        @media (max-width: 992px) {
            margin-top: 15px;
            row-gap: 0;
        }
    }
    &__tags {
        display: flex;
        align-items: center;
        @media (max-width: 992px) {
            align-items: flex-start;
        }
    }
    &__tags-title {
        margin-right: 12px;
        font-weight: 700;
        line-height: 160%;
        color: #1E212C;
        @media (max-width: 992px) {
            font-size: 14px;
        }
    }
    &__tags-list {
        display: flex;
        flex-wrap: wrap;
        gap: 12px;
        @media (max-width: 992px) {
            gap: 8px;
        }
    }
    &__tags-item {
        border: 1px solid #D7DADD;
        border-radius: 4px;
        font-weight: 700;
        font-size: 14px;
        line-height: 150%;
        color: #787A80;
        padding: 5.5px 16px;
        transition: all .3s;
        @media (max-width: 992px) {
            font-size: 14px;
            padding: 4px 14px;
        }
        &:hover {
            border-color: $red-color;
            background-color: $red-color;
            color: #FFF;
        }
    }
    &__sidebar {
        display: flex;
        flex-direction: column;
        gap: 60px;
        @media (max-width: 992px) {
            gap: 40px;
        }
        @media (max-width: 768px) {
            gap: 30px;
        }
    }
    &__sidebar-title {
        margin-bottom: 24px;
        font-weight: 700;
        line-height: 150%;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: #1E212C;
        @media (max-width: 992px) {
            margin-bottom: 10px;
            font-size: 14px;
        }
    }
    &__author-profile {
        display: grid;
        grid-template-columns: 100px 1fr;
        gap: 20px;
    }
    &__author-wrapper-img {
        width: 100%;
        height: 100px;
        border-radius: 4px;
        padding: 0 15px;
        background-color: #FFCF2D;
    }
    &__author-img {
        @include img_cover;
    }
    &__author-name {
        font-weight: 700;
        font-size: 20px;
        line-height: 150%;
        color: #424551;
        @media (max-width: 992px) {
            font-size: 16px;
        }
    }
    &__author-position {
        margin-top: 4px;
        font-size: 14px;
        line-height: 150%;
        color: #787A80;
    }
    &__author-social {
        margin-top: 20px;
        display: grid; 
        grid-template-columns: repeat(auto-fill, 20px);
        grid-template-rows: 20px;
        column-gap: 12px;
        @media (max-width: 992px) {
            margin-top: 10px;
        }
    }
    &__trending-list {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, minmax(100px, auto));
        row-gap: 24px;
        @media (max-width: 992px) {
            gap: 15px;
        }
    }
    &__trending-item {
        display: grid;
        grid-template-columns: 100px 1fr;
        gap: 20px;
    }
    &__trending-wrapper-img {
        width: 100%;
        height: 100px;
    }
    &__trending-img {
        @include img_cover;
        border-radius: 4px;
    }
    &__trending-date {
        position: relative;
        font-size: 14px;
        line-height: 150%;
        color: #787A80;
        padding-left: 24px;
        @media (max-width: 992px) {
            font-size: 12px;
            padding-left: 20px;
        }
        &:before {
            content: '';
            position: absolute;
            top: 2px;
            left: 0;
            display: block;
            width: 16px;
            height: 16px;
            background: url(../icons/blog/calendar.svg) center center / cover no-repeat;
            @media (max-width: 992px) {
                width: 14px;
                height: 14px;
            }
        }
    }
    &__trending-theme {
        margin-top: 4px;
        display: block;
        font-weight: 700;
        font-size: 16px;
        line-height: 160%;
        color: #1E212C;
        transition: all .3s;
        @media (max-width: 992px) {
            font-size: 14px;
            line-height: 140%;
        }
        &:hover {
            color: $red-color;
        }
    }
}