.register {
    &__container {
        display: grid;
        grid-template-columns: 550px 495px;
        justify-content: space-between;
    }
    &__illustration {
        padding-top: 14px;
    }
    &__img {
        width: 100%;
        height: 502px;
        @include img_cover;
    }
    &__inputs-group {
        margin-top: 40px;
        display: grid;
        grid-template-rows: repeat(3, 86px);
        row-gap: 24px;
    }
    &__form-item {
        display: grid;
        grid-template-rows: 26px 52px;
        row-gap: 8px;
    }
    &__form-label {
        @include main-text;
    }
    &__form-input {
        @include input-base;
        line-height: 160%;
        padding: 13px 16px;
    }
    &__btn {
        margin-top: 40px;
        width: 100%;
    }
    &__messege {
        margin-top: 24px;
        @include main-text;
    }
    &_left {
        .register {
            &__container {
                grid-template-columns: 495px 600px;
            }
            &__illustration {
                padding-top: 62px;
            }
            &__img {
                height: 468px;
            }
        }
    }
}
