.slider-reviews {
    .swiper {
        max-width: 1020px;
    }
    &__body {
        position: relative;
        margin: 60px auto 0;
    }
    &__item {
        background: #FFFFFF;
        box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 4px 4px -4px rgba(30, 33, 44, 0.03);
        border-radius: 4px;
        padding: 64px 105px 64px 163px;
        @media (max-width: 992px) {
            padding: 30px 30px 30px 70px;
        }
        @media (max-width: 576px) {
            padding: 10px 10px 10px 30px;
        }
        &:before {
            content: '';
            position: absolute;
            top: 64px;
            left: 105px;
            display: block;
            width: 28px;
            height: 20px;
            background: url(../icons/braces.svg) center center /cover no-repeat;
            @media (max-width: 992px) {
                top: 20px;
                left: 20px;
            }
            @media (max-width: 576px) {
                top: 10px;
                left: 5px;
                width: 18px;
                height: 10px;
            }
        }
    }
    &__text {
        font-size: 20px;
        line-height: 150%;
        color: #424551;
        @media (max-width: 992px) {
            font-size: 18px;
        }
        @media (max-width: 768px) {
            font-size: 16px;
        }
        @media (max-width: 576px) {
            font-size: 14px;
            line-height: 130%;
        }
    }
    &__user-profile {
        margin-top: 24px;
        display: grid;
        grid-template-columns: 72px auto;
        grid-template-rows: 72px;
        column-gap: 20px;
        @media (max-width: 576px) {
            margin-top: 10px; 
            grid-template-columns: 50px auto;
            grid-template-rows: 50px;
        }
    }
    &__user-wrapper-img {
        width: 100%;
        height: 100%;
    }
    &__user-img {
        @include img_cover;
        border-radius: 100%;
    }
    &__user-data {
        padding: 11px 0;
        @media (max-width: 576px) {
            padding: 0;
        }
    }
    &__user-name {
        font-weight: 700;
        line-height: 160%;
        color: #1E212C;
        @media (max-width: 576px) {
            font-size: 14px;
        }
    }
    &__user-course {
        margin-top: 6px;
        font-size: 14px;
        line-height: 150%;
        color: #787A80;
        @media (max-width: 576px) {
            margin-top: 0;
            font-size: 12px;
        }
    }
    &__prev-btn,
    &__next-btn {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        @media (max-width: 1260px) {
            top: -48px;
            transform: none;
        }  
    }
    &__prev-btn {
        left: -12px;
        @media (max-width: 1260px) {
            left: 0;
        }
    }
    &__next-btn {
        right: -12px;
        @media (max-width: 1260px) {
            right: 0;
        }
        
    }
    &__dots {
        margin-top: 52px;
        display: flex;
        justify-content: center;
        .swiper-pagination-bullet {
            width: 30px;
            height: 9px;
            display: flex;
            align-items: center;
            border-radius: 0;
            background-color: inherit;
            gap: 12px;
            &:before {
                content: '';
                width: 100%;
                height: 3px;
                background-color: #B3B7BC;
            }
            &-active:before {
                background-color: #424551; 
            }
        }
    }

}