.slider {
    &__controls {
        display: flex;
    }

    &__swiper-team,
    &__swiper-blog,
    &__swiper-courses,
    &__swiper-events {
        margin-top: 60px;
        max-width: 1230px;
    }

    &__link {
        margin-top: 82px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    &__question {
        font-weight: 700;
        font-size: 28px;
        line-height: 150%;
        color: #1E212C;
        margin-right: 40px;
    }
}




