.step {
    margin-top: 180px;
    &__list {
        margin-top: 90px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        column-gap: 30px;
    }
    &__item {
        padding-top: 46px;
        position: relative;
        z-index: 1;
        border-top: 1px dashed #D7DADD;
        &:last-child {
            border: none;
        }
        &:hover .step__number {
            color: $red-color;
            background: #FFDEDC;
            border: 16px solid #FFF3F3;
            transition: all .3s;
        }
    }
    &__item-title {
        position: relative;
        z-index: 10;
        font-weight: 700;
        font-size: 20px;
        line-height: 150%;
        color: #1E212C;
    }
    &__item-text {
        margin-top: 8px;
        line-height: 160%;
        color: #787A80;
    }
    &__number {
        position: absolute;
        top: -58px;
        left: -31px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 116px;
        height: 116px;
        border-radius: 100%;
        font-weight: 900;
        font-size: 46px;
        line-height: 130%;
        color: #D7DADD;
        z-index: 5;
        background: white;
    }
}