.subscribe {
    padding: 120px 0 130px;
    background: url(../img/subscribe__bg.jpg) center center / cover no-repeat;
    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__title {
        width: 810px;
        text-align: center;
    }
    &__form {
        margin-top: 60px;
    }
}