.subtitle {
    margin-bottom: 8px;
    font-weight: 700;
    line-height: 150%;
    text-transform: uppercase;
    color: #1E212C;
    letter-spacing: 1px;
    &_center {
        text-align: center;
    }
}