.subscribe-form {
    display: grid;
    grid-template-columns: 422px 154px;
    grid-template-rows: 52px;
    grid-auto-rows: 26px;
    gap: 24px;
    @media (max-width: 1260px) {
        grid-template-rows: 48px;
        grid-template-columns: 1fr 135px;
        gap: 15px;
    }
    @media (max-width: 576px) {
        width: 100%;
        grid-template-columns: 1fr 100px;
        grid-template-rows: 40px;
        gap: 10px;
    }
    @media (max-width: 425px) {
        grid-template-columns: 1fr 80px;
    }
    &__input {
        @include input-base;
        line-height: 160%;
        padding: 13px 16px;
        @media (max-width: 1260px) {
            padding: 11px 16px;
        }
        @media (max-width: 576px) {
            padding: 10px 16px;
            font-size: 12px;
        }
    }
    &__checkbox {
        grid-column: 1/3;
    }
}

