.team {
    margin-top: -10px;
    &__list {
        margin-top: 60px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 60px 30px;
        @media (max-width: 1260px) {
            gap: 30px;
        }
        @media (max-width: 992px) {
            grid-template-columns: repeat(3, 1fr);
        }
        @media (max-width: 768px) {
            grid-template-columns: repeat(2, 1fr);
        }
        @media (max-width: 425px) {
            grid-template-columns: 1fr;
        }
    }
}